@primary-color: #00ffcb;
@primary-color-dark: #0ec9a4;

@primary-variant-color: #abfcef;
@primary-variant-color-shade-darker: #7bd0c2;
@tertiary-color: #00ffcb;
@alice-blue: aliceBlue;
@primary-dark: #08090a;
@text-dark: #08090a;
@text-grey: #3a3a3a;
@text-light: #a0a0a0;
@white: #ffffff;
@form-grey: #c6c6c6;
.grey-two {
	color: @text-grey;
}
.white {
	color: @white;
}
.bg-primary {
	background-color: @primary-color;
}
.bg-dark {
	background-color: @primary-dark;
}
.bg-light {
	background-color: @alice-blue;
}
.bg-variant {
	background-color: @primary-variant-color;
}
.bg-primary-dark {
	background-color: @primary-variant-color-shade-darker;
}
.bg-tertiary {
	background-color: @tertiary-color;
}
