.bg-triangle {
	position: absolute;
	bottom: 373px;
}
@media screen and (max-width: 767px) {
	.bg-triangle {
		position: absolute;
		top: 234px;
	}
}
@media screen and (max-width: 524px) {
	.bg-triangle {
		position: absolute;
		top: 234px;
	}
}
